body{
font-family:Arial;
margin:0;
background:#f0f4f8;
}

header{
background:#0066cc;
color:white;
padding:25px;
text-align:center;
}

nav{
background:#004080;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

section{
background:white;
margin:20px;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

button{
padding:10px 20px;
margin:10px;
background:#0066cc;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#004080;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}